.network-icon-back {
    width: 45px;
    height: 45px;
    border-radius: 0%;
  }
  
  .svg-new {
    display: flex;
    margin-left: 20px;
  }
  
  .network-icon {
    width: 40px;
    height: 40px;
  }
  
  .svg-1,
  .svg-2,
  .svg-3,
  .svg-4 {
    width: 60px;
  }